@import 'config.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $black;
}

li {
    list-style: none;
    font-size: 10px;
}
li,button {
	text-transform: uppercase;
	color: $black;
}

header {
    #logo {
        text-align: center;
        height: 80px;
        h1 {
            display: inline-block;
            line-height: 80px;
            font-size: 48px;
            font-family: "acumin-pro-extra-condensed", sans-serif;
            color: $category_title;
        }
        #icons_container {
            float: right;
            margin: 30px 20px;
            .icons {
                width: 25px;
                height: 25px;
                color: $white;
                border-radius: 50%;
                line-height: 25px;
            }
            #facebook,
            #twitter,
            #instagram {
                display: none;
                @include bp-large {
                	display: inline-block;
                }
            }
            #facebook {
                background-color: $facebook_bg_color;
            }
            #twitter {
                background-color: $twitter_bg_color;
            }
            #instagram {
                background-color: $instagram_bg_color;
            }
            #search {
                color: $search_button;
            }
        }
    }
    #horizontal_nav {
        text-align: center;
  		@include bp-large {
  			border-top: 1px solid #aaa;
  		}
        #menu_button {
            color: #29a3a3;
            position: absolute;
            top: 24px;
            left: 15px;
            @include bp-large {
            	display: inline-block;
                position: static;
                margin: 30px;
            }
        }
        ul {
            li {
                display: inline-block;
            }
        }
        #main_nav {
            display: none;
            @include bp-large {
                padding: 10px 0;
                display: inline-block;
                li {
                    padding-right: 20px;
                    a {
                        font-family: "acumin-pro-extra-condensed", sans-serif;
                        font-size: 40px;
                    }
                }
            }
        }
        #sub_nav {
            border-top: 1px solid $section_border;
            border-bottom: 1px solid $section_border;
            padding: 10px 0;
            li {
                font-size: 12px;
                padding-right: 20px;
                a {
                    color: #aaa;
                    font-family: 'acumin-pro';
                }
            }
        }
    }
    #side_nav {
        display: none;
        background-color: $white;
        width: 250px;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 4;
        padding: 20px;
        h3 {
            display: inline-block;
            color: $category_title;
        }
        #close_button {
            border: none;
            background-color: $black;
            color: $white;
            padding: 5px;
            float: right;
            cursor: pointer;
        }
        ul {
            padding: 20px 0;
            li {
                border-bottom: 1px solid $section_border;
                padding: 8px;
                font-size: 16px;
                &:last-child {
                    border: none;
                }
            }
            i {
                float: right;
                background-color: $white;
                color: #aaa;
                border: 1px solid $section_border;
                padding: 0 3px;
                text-transform: none;
                cursor: pointer;
            }
        }
    }
}

article {
    margin: 0 auto;
}

footer {
    text-align: center;
    border-top: 1px solid $section_border;
    nav {
        width: 90%;
        margin: 10px auto;
        padding: 20px 0;
        ul {
            width: 100%;
            text-align: center;
            padding-bottom: 10px;
            li {
                padding: 2px 0;
                font-family: 'acumin-pro';
            }
            @include bp-medium {
                display: inline-block;
                text-align: left;
                width: auto;
                vertical-align: top;
                padding: 0 40px;
                &:last-child {
                    margin: 0;
                    padding-right: 0;
                }
            }
        }
        #subscription {
            padding-top: 10px;
            @include bp-large {
                padding-top: 20px;
            }
        }
    }
    p {
        padding: 20px 0;
        border-top: 1px solid $section_border;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
    }
}

.content {
    padding-bottom: 40px;
    .image {
        text-align: center;
        padding: 20px 0 30px;
        img {
            max-width: 500px;
            width: 90%;
            height: auto;
        }
    }
 	.inner_contents{
 		@include bp-large {
 			display: flex;
 		}
 		   
 		   .date {
        width: 80%;
        margin: 10px auto;
        padding-top: 20px;
        font-family: 'acumin-pro-wide';
        @include bp-large {
            flex: 1;
            // width: 20%;
            vertical-align: top;
            h2,
            span {
                font-size: 25px;
                display: block;
                font-weight: bold;
                text-align: right;
                padding-right: 10px;
            }
        }
    }
    .stories {
        width: 80%;
        margin: 10px auto;
        padding-top: 20px;
        ul li ul li {
            padding-bottom: 8px;
        }
        @include bp-large {
            flex: 2;
            // width: 42%;
            vertical-align: top;
        }
    }
    .book_cover_page {
        width: 80%;
        margin: 10px auto;
        padding-top: 20px;
        text-align: center;
        img {
            height: auto;
            max-width: 350px;
            width: 60%;
        }
        button {
            display: block;
            background-color: $yellow;
            @include border-radius(3px);
            border: none;
            font-weight: bold;
            font-size: 15px;
            font-family: "acumin-pro-condensed", sans-serif;
            margin: 10px auto;
            width: 200px;
            height: 30px;
            line-height: 30px;
            cursor: pointer;
            @include box-shadow(-3px, -3px, 3px, #aaa);
        }
        @include bp-large {
            flex: 2;
            // width: 32%;
            vertical-align: top;
            text-align: center;
        }
    }
 	}
}

.max_width {
    max-width: 1200px;
    margin: 0 auto;
}

.list_items {
    border-left: 3px solid $category_title;
    margin-bottom: 30px;
    padding: 0 10px;
    span {
        font-weight: bold;
        font-style: italic;
        color: $category_title;
        font-size: 15px;
        font-family: 'acumin-pro';
    }
    h2 {
        font-weight: bold;
        font-size: 18px;
        font-family: "acumin-pro-condensed", sans-serif;
    }
}
.clear {
    clear: both;
}
#overlay {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
    position: absolute;
    top: 0;
}
