* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #000; }

li {
  list-style: none;
  font-size: 10px; }

li,
button {
  text-transform: uppercase;
  color: #000; }

header #logo {
  text-align: center;
  padding: 20px 0;
  position: relative; }
  header #logo a {
    display: inline-block; }
    header #logo a h1 {
      line-height: 80px;
      font: bolder 48px "acumin-pro-extra-condensed", sans-serif;
      color: #29a3a3; }
      @media (min-width: 1024px) {
        header #logo a h1 {
          font-size: 90px;
          line-height: 50px; } }
  header #logo #icons_container {
    position: absolute;
    top: 50%;
    right: 10px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    header #logo #icons_container .icons {
      width: 35px;
      height: 35px;
      color: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      line-height: 35px; }
    header #logo #icons_container #facebook,
    header #logo #icons_container #twitter,
    header #logo #icons_container #instagram {
      display: none; }
      @media (min-width: 1024px) {
        header #logo #icons_container #facebook,
        header #logo #icons_container #twitter,
        header #logo #icons_container #instagram {
          display: inline-block; } }
    header #logo #icons_container #facebook {
      background-color: #3b5998; }
    header #logo #icons_container #twitter {
      background-color: #00aced; }
    header #logo #icons_container #instagram {
      background-color: #1568bb; }
    header #logo #icons_container #search {
      color: #ddd; }
header #horizontal_nav {
  text-align: center; }
  @media (min-width: 1024px) {
    header #horizontal_nav {
      border-top: 1px solid #666666; } }
  header #horizontal_nav #menu_button {
    color: #29a3a3;
    position: absolute;
    top: 42px;
    left: 15px;
    cursor: pointer; }
    @media (min-width: 1024px) {
      header #horizontal_nav #menu_button {
        display: inline-block;
        position: static;
        margin: 25px 0 25px 25px;
        float: left; } }
  header #horizontal_nav ul li {
    display: inline-block; }
  header #horizontal_nav #main_nav {
    display: none; }
    @media (min-width: 1024px) {
      header #horizontal_nav #main_nav {
        padding: 10px 0;
        display: inline-block; }
        header #horizontal_nav #main_nav li {
          padding-right: 40px; }
          header #horizontal_nav #main_nav li a {
            font: 40px "acumin-pro-extra-condensed", sans-serif; }
          header #horizontal_nav #main_nav li:last-child {
            padding-right: 0; } }
  header #horizontal_nav #sub_nav {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0; }
    header #horizontal_nav #sub_nav li {
      font-size: 12px;
      padding-right: 20px; }
      header #horizontal_nav #sub_nav li a {
        color: #666666;
        font: 300 14px "acumin-pro"; }
header .side_container .side_nav {
  background-color: #fff;
  height: 100vh;
  width: 250px;
  position: absolute;
  top: 0;
  z-index: 4;
  padding: 20px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  header .side_container .side_nav h3 {
    display: inline-block;
    color: #29a3a3; }
  header .side_container .side_nav #close_button {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 5px;
    position: absolute;
    right: 30px;
    cursor: pointer; }
  header .side_container .side_nav ul {
    padding: 20px 0; }
    header .side_container .side_nav ul li {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      font-size: 16px; }
      header .side_container .side_nav ul li:last-child {
        border: none; }
      header .side_container .side_nav ul li a {
        display: block; }
    header .side_container .side_nav ul i {
      position: absolute;
      right: 30px;
      background-color: #fff;
      color: #666666;
      border: 1px solid #ddd;
      padding: 0 3px;
      cursor: pointer; }
header .side_container .overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  position: absolute;
  top: 0; }

article {
  margin: 0 auto; }

footer {
  text-align: center;
  border-top: 1px solid #ddd; }
  footer nav {
    width: 90%;
    margin: 10px auto;
    padding: 20px 0; }
    footer nav ul {
      width: 100%;
      text-align: center;
      padding-bottom: 10px; }
      footer nav ul li {
        padding: 2px 0;
        font-family: "acumin-pro"; }
      @media (min-width: 768px) {
        footer nav ul {
          display: inline-block;
          text-align: left;
          width: auto;
          vertical-align: top;
          padding: 0 40px; }
          footer nav ul:last-child {
            margin: 0;
            padding-right: 0; } }
    footer nav #subscription {
      padding-top: 10px; }
      @media (min-width: 1024px) {
        footer nav #subscription {
          padding-top: 20px; } }
  footer p {
    padding: 20px 0;
    border-top: 1px solid #ddd;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase; }

.content {
  padding-bottom: 40px; }
  .content .image {
    text-align: center;
    padding: 20px 0 30px; }
    .content .image img {
      max-width: 700px;
      width: 90%;
      height: auto;
      min-height: 50px; }
  @media (min-width: 1024px) {
    .content .inner_contents {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex; } }
  .content .inner_contents .date {
    width: 80%;
    margin: 10px auto;
    padding-top: 20px;
    font-family: "acumin-pro-wide"; }
    @media (min-width: 1024px) {
      .content .inner_contents .date {
        flex: 1; }
        .content .inner_contents .date h2,
        .content .inner_contents .date span {
          display: block;
          font: bold 25px;
          text-align: right;
          padding-right: 10px; } }
  .content .inner_contents .stories {
    width: 80%;
    margin: 10px auto;
    padding-top: 20px; }
    .content .inner_contents .stories ul li ul li {
      padding-bottom: 8px; }
    @media (min-width: 1024px) {
      .content .inner_contents .stories {
        flex: 2; } }
  .content .inner_contents .book_cover_page {
    width: 80%;
    margin: 10px auto;
    padding-top: 20px;
    text-align: center; }
    .content .inner_contents .book_cover_page img {
      height: auto;
      max-width: 350px;
      width: 60%; }
    @media (min-width: 1024px) {
      .content .inner_contents .book_cover_page {
        flex: 2;
        text-align: center; } }

.button {
  display: block;
  background-color: #ffff00;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  font: bold 15px "acumin-pro-condensed", sans-serif;
  margin: 10px auto;
  width: 200px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  -webkit-box-shadow: inset -3px -3px 3px #666666;
  -moz-box-shadow: inset -3px -3px 3px #666666;
  box-shadow: inset -3px -3px 3px #666666; }

.max_width {
  max-width: 1200px;
  margin: 0 auto; }

.list_items {
  border-left: 3px solid #29a3a3;
  margin-bottom: 30px;
  padding: 0 10px; }
  .list_items span {
    color: #29a3a3;
    font: italic bold 15px "acumin-pro"; }
  .list_items h2 {
    font: bold 18px "acumin-pro-condensed", sans-serif; }

.clear {
  clear: both; }

.overlay_hidden {
  overflow: auto; }
  .overlay_hidden .side_container .side_nav {
    left: -250px; }
  .overlay_hidden .side_container .overlay {
    display: none; }

.overlay_visible {
  overflow: hidden; }
  .overlay_visible .side_container .side_nav {
    left: 0; }
  .overlay_visible .side_container .overlay {
    display: block;
    overflow: hidden; }

/*# sourceMappingURL=style.css.map */
