* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #000; }

li {
  list-style: none;
  font-size: 10px; }

li, button {
  text-transform: uppercase;
  color: #000; }

header #logo {
  text-align: center;
  height: 80px; }
  header #logo h1 {
    display: inline-block;
    line-height: 80px;
    position: relative;
    left: 8%;
    font-size: 48px;
    font-family: "acumin-pro-extra-condensed", sans-serif;
    color: #29a3a3; }
  header #logo #icons_container {
    float: right;
    margin: 30px 20px; }
    header #logo #icons_container .icons {
      width: 25px;
      height: 25px;
      color: #fff;
      border-radius: 50%;
      line-height: 25px; }
    header #logo #icons_container #facebook,
    header #logo #icons_container #twitter,
    header #logo #icons_container #instagram {
      display: none; }
      @media (min-width: 1024px) {
        header #logo #icons_container #facebook,
        header #logo #icons_container #twitter,
        header #logo #icons_container #instagram {
          display: inline-block; } }
    header #logo #icons_container #facebook {
      background-color: #3b5998; }
    header #logo #icons_container #twitter {
      background-color: #00aced; }
    header #logo #icons_container #instagram {
      background-color: #1568bb; }
    header #logo #icons_container #search {
      color: #ddd; }
header #horizontal_nav {
  text-align: center; }
  @media (min-width: 1024px) {
    header #horizontal_nav {
      border-top: 1px solid #aaa; } }
  header #horizontal_nav #menu_button {
    color: #29a3a3;
    position: absolute;
    top: 24px;
    left: 15px; }
    @media (min-width: 1024px) {
      header #horizontal_nav #menu_button {
        display: inline-block;
        position: static;
        margin: 30px; } }
  header #horizontal_nav ul li {
    display: inline-block; }
  header #horizontal_nav #main_nav {
    display: none; }
    @media (min-width: 1024px) {
      header #horizontal_nav #main_nav {
        padding: 10px 0;
        display: inline-block; }
        header #horizontal_nav #main_nav li {
          padding-right: 20px; }
          header #horizontal_nav #main_nav li a {
            font-family: "acumin-pro-extra-condensed", sans-serif;
            font-size: 40px; } }
  header #horizontal_nav #sub_nav {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0; }
    header #horizontal_nav #sub_nav li {
      font-size: 12px;
      padding-right: 20px; }
      header #horizontal_nav #sub_nav li a {
        color: #aaa;
        font-family: "acumin-pro"; }
header #side_nav {
  display: none;
  background-color: #fff;
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 4;
  padding: 20px; }
  header #side_nav h3 {
    display: inline-block;
    color: #29a3a3; }
  header #side_nav #close_button {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 5px;
    float: right;
    cursor: pointer; }
  header #side_nav ul {
    padding: 20px 0; }
    header #side_nav ul li {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      font-size: 16px; }
      header #side_nav ul li:last-child {
        border: none; }
    header #side_nav ul i {
      float: right;
      background-color: #fff;
      color: #aaa;
      border: 1px solid #ddd;
      padding: 0 3px;
      text-transform: none;
      cursor: pointer; }

article {
  margin: 0 auto; }

footer {
  text-align: center;
  border-top: 1px solid #ddd; }
  footer nav {
    width: 90%;
    margin: 10px auto;
    padding: 20px 0; }
    footer nav ul {
      width: 100%;
      text-align: center;
      padding-bottom: 10px; }
      footer nav ul li {
        padding: 2px 0;
        font-family: "acumin-pro"; }
      @media (min-width: 768px) {
        footer nav ul {
          display: inline-block;
          text-align: left;
          width: auto;
          vertical-align: top;
          padding: 0 40px; }
          footer nav ul:last-child {
            margin: 0;
            padding-right: 0; } }
    footer nav #subscription {
      padding-top: 10px; }
      @media (min-width: 1024px) {
        footer nav #subscription {
          padding-top: 20px; } }
  footer p {
    padding: 20px 0;
    border-top: 1px solid #ddd;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase; }

.content {
  padding-bottom: 40px; }
  .content .image {
    text-align: center;
    padding: 20px 0 30px; }
    .content .image img {
      max-width: 500px;
      width: 90%;
      height: auto; }
  @media (min-width: 1024px) {
    .content .inner_contents {
      display: flex; } }
  .content .inner_contents .date {
    width: 80%;
    margin: 10px auto;
    padding-top: 20px;
    font-family: "acumin-pro-wide"; }
    @media (min-width: 1024px) {
      .content .inner_contents .date {
        flex: 1;
        vertical-align: top; }
        .content .inner_contents .date h2,
        .content .inner_contents .date span {
          font-size: 25px;
          display: block;
          font-weight: bold;
          text-align: right;
          padding-right: 10px; } }
  .content .inner_contents .stories {
    width: 80%;
    margin: 10px auto;
    padding-top: 20px; }
    .content .inner_contents .stories ul li ul li {
      padding-bottom: 8px; }
    @media (min-width: 1024px) {
      .content .inner_contents .stories {
        flex: 2;
        vertical-align: top; } }
  .content .inner_contents .book_cover_page {
    width: 80%;
    margin: 10px auto;
    padding-top: 20px;
    text-align: center; }
    .content .inner_contents .book_cover_page img {
      height: auto;
      max-width: 350px;
      width: 60%; }
    .content .inner_contents .book_cover_page button {
      display: block;
      background-color: #ffff00;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      border: none;
      font-weight: bold;
      font-size: 15px;
      font-family: "acumin-pro-condensed", sans-serif;
      margin: 10px auto;
      width: 200px;
      height: 30px;
      line-height: 30px;
      cursor: pointer;
      -webkit-box-shadow: inset -3px -3px 3px #aaa;
      -moz-box-shadow: inset -3px -3px 3px #aaa;
      box-shadow: inset -3px -3px 3px #aaa; }
    @media (min-width: 1024px) {
      .content .inner_contents .book_cover_page {
        flex: 2;
        vertical-align: top;
        text-align: center; } }

.max_width {
  max-width: 1200px;
  margin: 0 auto; }

.list_items {
  border-left: 3px solid #29a3a3;
  margin-bottom: 30px;
  padding: 0 10px; }
  .list_items span {
    font-weight: bold;
    font-style: italic;
    color: #29a3a3;
    font-size: 15px;
    font-family: "acumin-pro"; }
  .list_items h2 {
    font-weight: bold;
    font-size: 18px;
    font-family: "acumin-pro-condensed", sans-serif; }

.clear {
  clear: both; }

#overlay {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  position: absolute;
  top: 0; }

/*# sourceMappingURL=style.css.map */
