@import 'config.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $black;
}

li {
    list-style: none;
    font-size: 10px;
}

li,
button {
    text-transform: uppercase;
    color: $black;
}

header {
    #logo {
        text-align: center;
        padding: 20px 0;
        position: relative;
        a {
            display: inline-block;
            h1 {
                line-height: 80px;
                font: bolder 48px $acumin_pro_xcond;
                color: $category_title;
                 @include bp-large {
                    font-size: 90px;
                    line-height: 50px;
            }
            }

        }
        #icons_container {
            position: absolute;
            top:50%;
            right: 10px;
            -moz-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            .icons {
                width: 35px;
                height: 35px;
                color: $white;
                @include border-radius(50%);
                line-height: 35px;
            }
            #facebook,
            #twitter,
            #instagram {
                display: none;
                @include bp-large {
                    display: inline-block;
                }
            }
            #facebook {
                background-color: $facebook_bg_color;
            }
            #twitter {
                background-color: $twitter_bg_color;
            }
            #instagram {
                background-color: $instagram_bg_color;
            }
            #search {
                color: $search_button;
            }
        }
    }
    #horizontal_nav {
        text-align: center;
        @include bp-large {
            border-top: 1px solid $light_grey;
        }
        #menu_button {
            color: $category_title;
            position: absolute;
            top: 42px;
            left: 15px;
            cursor: pointer;
            @include bp-large {
                display: inline-block;
                position: static;
                margin: 25px 0 25px 25px;
                float: left;
            }
        }
        ul {
            li {
                display: inline-block;
            }
        }
        #main_nav {
            display: none;
            @include bp-large {
                padding: 10px 0;
                display: inline-block;
                li {
                    padding-right: 40px;
                    a {
                        font: 40px $acumin_pro_xcond;  
                    }
                    &:last-child{
                        padding-right: 0;
                    }
                }
            }
        }
        #sub_nav {
            border-top: 1px solid $section_border;
            border-bottom: 1px solid $section_border;
            padding: 10px 0;
            li {
                font-size: 12px;
                padding-right: 20px;
                a {
                    color: $light_grey;
                    font: 300 14px $acumin_pro;
                }
            }
        }
    }
    .side_container {
        .side_nav {
            background-color: $white;
            height: 100vh;
            width: 250px;
            position: absolute;
            top: 0;
            z-index: 4;
            padding: 20px;
            @include transition(all, .5s, ease);
            h3 {
                display: inline-block;
                color: $category_title;
            }
            #close_button {
                border: none;
                background-color: $black;
                color: $white;
                padding: 5px;
                position: absolute;
                right: 30px;
                cursor: pointer;
            }
            ul {
                padding: 20px 0;
                li {
                    border-bottom: 1px solid $section_border;
                    padding: 8px;
                    font-size: 16px;
                    &:last-child {
                        border: none;
                    }
                    a {
                        display: block;
                    }
                }
                i {
                    position: absolute;
                    right: 30px;
                    background-color: $white;
                    color: $light_grey;
                    border: 1px solid $section_border;
                    padding: 0 3px;
                    cursor: pointer;
                }
            }
        }
        .overlay {
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 3;
            position: absolute;
            top: 0;
        }
    }
}

article {
    margin: 0 auto;
}

footer {
    text-align: center;
    border-top: 1px solid $section_border;
    nav {
        width: 90%;
        margin: 10px auto;
        padding: 20px 0;
        ul {
            width: 100%;
            text-align: center;
            padding-bottom: 10px;
            li {
                padding: 2px 0;
                font-family: $acumin_pro;
            }
            @include bp-medium {
                display: inline-block;
                text-align: left;
                width: auto;
                vertical-align: top;
                padding: 0 40px;
                &:last-child {
                    margin: 0;
                    padding-right: 0;
                }
            }
        }
        #subscription {
            padding-top: 10px;
            @include bp-large {
                padding-top: 20px;
            }
        }
    }
    p {
        padding: 20px 0;
        border-top: 1px solid $section_border;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
    }
}

.content {
    padding-bottom: 40px;
    .image {
        text-align: center;
        padding: 20px 0 30px;
        img {
            max-width: 700px;
            width: 90%;
            height: auto;
            min-height: 50px;
        }
    }
    .inner_contents {
        @include bp-large {
            @include flex-box;
        }
        .date {
            width: 80%;
            margin: 10px auto;
            padding-top: 20px;
            font-family: $acumin_pro_w;
            @include bp-large {
                flex: 1;
                h2,
                span {
                    display: block;
                    font: bold 25px;
                    text-align: right;
                    padding-right: 10px;
                }
            }
        }
        .stories {
            width: 80%;
            margin: 10px auto;
            padding-top: 20px;
            ul li ul li {
                padding-bottom: 8px;
            }
            @include bp-large {
                flex: 2;
            }
        }
        .book_cover_page {
            width: 80%;
            margin: 10px auto;
            padding-top: 20px;
            text-align: center;
            img {
                height: auto;
                max-width: 350px;
                width: 60%;
            }
            @include bp-large {
                flex: 2;
                text-align: center;
            }
        }
    }
}

.button {
    display: block;
    background-color: $yellow;
    @include border-radius(3px);
    border: none;
    font: bold 15px $acumin_pro_cond;
    margin: 10px auto;
    width: 200px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    @include box-shadow(-3px, -3px, 3px, $light_grey);
}

.max_width {
    max-width: 1200px;
    margin: 0 auto;
}

.list_items {
    border-left: 3px solid $category_title;
    margin-bottom: 30px;
    padding: 0 10px;
    span {
        color: $category_title;
        font: italic bold 15px $acumin_pro
    }
    h2 {
        font: bold 18px $acumin_pro_cond;
    }
}

.clear {
    clear: both;
}

.overlay_hidden {
    overflow: auto;
    .side_container {
        .side_nav {
            left: -250px;
        }
        .overlay {
            display: none;
        }
    }
}

.overlay_visible {
    overflow: hidden;
    .side_container {
        .side_nav {
            left: 0;
        }
        .overlay {
            display: block;
            overflow: hidden;
        }
    }
}
